@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Seattle Cakes And Espresso</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>DAILY CUPCAKES</h2>
        <p>Vanilla: rich, buttery, old-fashioned cake with a light crumb. Our most popular cupcake!</p>
        <p>Strawberry: strawberry cupcake topped with strawberry meringue buttercream.</p>
        <p>Chocolate: rich moist cake with a smooth velvety texture and dark chocolate flavor.</p>
        <p>Red Velvet cupcake with whipped vanilla icing. Every day we serve our classic cupcakes!</p>
        <img style="-webkit-user-select: none;cursor: zoom-in;" src="http://www.magnoliabakery.com/wp-content/uploads/2018/06/Flourless-900.jpg" width="200" height="150">
    </div>

    <div class="col-md-4">
        <h2>CLASSIC CAKES</h2>
        <p>Vanilla: rich, buttery, old-fashioned cake with a light crumb. Our most popular cake!</p>
        <p>Chocolate: rich moist cake with a smooth velvety texture and dark chocolate flavor;</p>
        <img class="irc_mi" src="https://img.taste.com.au/-l6L5bYJ/w720-h480-cfill-q80/taste/2016/11/homemade-chocolate-cake-85524-1.jpeg" alt="Image result for cakes" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)"  width="200" height="150" style="margin-top: 0px;">
    </div>


    <div class="col-md-4">
        <h2>SPECIALTY CAKES</h2>
        <p>Coconut: coconut cake with a sweet coconut filling and meringue icing sprinkled with coconut flakes.</p>
        <p>Devil’s Food: made with Dutch cocoa. Your choice of chocolate, caramel or mocha buttercream, or caramel cream cheese icing.</p>
        <p>German Chocolate: rich, sweet cake chocolate cake layered with coconut caramel pecan filling.</p>
        <p>Hummingbird: banana, pineapple and pecans make up this classic southern cake with sweet cream cheese icing.</p>
        <img class="irc_mi" src="https://static.boredpanda.com/blog/wp-content/uploads/2017/03/spring-colourful-buttercream-flower-cakes-13-58d8b5b127e39__700.jpg" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="200" height="150" style="margin-top: 0px;" alt="Image result for cakes">
    </div>

</div>